terraform {
  required_providers {
    azurerm = {
      source  = "hashicorp/azurerm"
      version = "~> 3.7"
    }
  }
  required_version = ">= 1.1.0"
}

provider "azurerm" {
  subscription_id = "$LAB_SUBSCRIPTION"
  skip_provider_registration = true
  features {}
}

resource "azurerm_resource_group" "rg" {
  name     = "$LAB_DESTRG"
  location = "$LAB_REGION"
}